<ul>
<<<<<<< HEAD
=======

>>>>>>> 649d845b5b0a69f15ee9f1fdc4a34ba629aefe58
    <a href='/'>Home</a>

    {{#if loggedIn}}
        <a href='/profile'>Profile</a>
        <a href="/logout">Logout</a>
    {{else}}
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    {{/if}}
</ul>